@import '../variables/tokens.scss';

*{
  padding: 0;
  margin: 0;
  font-family: $fontDefault;
}

.card{
  max-width: 380px;
  background-color: $bgWhite;
  padding: $p10;
  border-radius: $p10;
  .cart-empty{
    text-align: center;
  }
  img{
    width: 100%;
    height: auto;
  }
  p{
    text-align: center;
    font-family: $fontDefault;
  }  
}
.newsletter-content{
  background-color: $bgGrey;
  text-align: center;
  color: $colorSecondary;
  padding: $p40 0;

  form{
    margin-top: $p40;
  }
}

footer{
  background-color: $bgOrange;
  color: $colorDefault;
  text-align: center;
  padding: 50px 0;
}
