@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300&family=Roboto:wght@300;400;500;900&display=swap');

$fontDefault: 'Roboto', sans-serif;

$bgRed: rgb(110, 110, 110);
$bgWhite: #fff;

$p10: 10px;

$colorDefault: #fff;